:root {
    --verde: #1ea896;
    --azul:#281EA8;
    --cafe:#A85F1E;
    --cafeSecundario: rgb(122, 84, 25);
    --blanco:#FFF;
    --negro: #000;
    --fuentePrincipal: font-family: 'Chakra Petch', sans-serif;
    --fuenteFooter: font-family: 'Sono', sans-serif;

}
/*globales de la pagina */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    background-color: var(--azul);
    font-size: 1.6rem;
    line-height: 1.5;/*interlineado*/
}
p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2,h3{
    text-align: center;
    color: var(--cafe);
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/*Header*/
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}
/*navegacion*/
.navegacion{
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    padding: 1 rem 0;
    gap: 3rem;
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--negro);
    font-size: 3rem;
    
}
.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: #A85F1E;
}
/*footer*/
.footer{
    background-color: var(--verde);
    padding: 1rem 0;
    margin-top: 2rem;
}
.footer__texto{
    font-family: var(--fuenteFooter);
    text-align: center;
    text-transform: uppercase;
}